<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Top menu item -->
    <menuitem id="menu_tunas_room_root"
        name="Manajemen Ruangan"
        sequence="10"/>

    <!-- Menu categories -->
    <menuitem id="menu_tunas_room_master"
        name="Master Data"
        parent="menu_tunas_room_root"
        sequence="10"/>

    <!-- Action menu items -->
    <menuitem id="menu_tunas_room_action"
        name="Ruangan"
        parent="menu_tunas_room_master"
        action="action_tunas_room"
        sequence="10"/>

    <menuitem id="menu_tunas_room_book_action"
        name="Pemesanan Ruangan"
        parent="menu_tunas_room_master"
        action="action_tunas_room_book"
        sequence="20"/>
</odoo>
